<h1>Listing products</h1>

<%= form_tag archive_administration_products_path, :method => :put do %>
	<div id="products"><%= render 'products' %></div>
<% end %>

<br />

<%= link_to 'New Product', new_administration_product_path %>
