/* Grid. */
.w1 {
    width:60px;
}

.w2 {
    width:120px;
}

.w3 {
    width:180px;
}

.w4 {
    width:240px;
}

.w5 {
    width:300px;
}

.w6 {
    width:360px;
}

.w7 {
    width:420px;
}

.w8 {
    width:480px;
}

.w9 {
    width:540px;
}

.w10 {
    width:600px;
}

.w11 {
    width:660px;
}

.w12 {
    width:720px;
}

.w13 {
    width:780px;
}

.w14 {
    width:840px;
}

.w15 {
    width:900px;
}

.w16 {
    width:960px;
}