<div id='category-intro'>
	<h1><%= @category.name %></h1>
	<div><%= @category.description %></div>
</div>

<div id='products'>
	<% @category.products.published.each do |product| %>
		<%= render :partial => '/product-tile', :locals => { :product => product } %>
	<% end %>
</div>